#graphContainer{
    background-color:rgb(255, 255, 159);
    height: 100vh;
    width: 100vw;
    overflow: auto;
}
#toolbarVer{
    background-color: lightblue;
    height: 100%;
    width: 50px;
}

#toolbarVer img{
    margin: 5%;
    height: 40px;
    width: 40px;
}